.outbox{
    border: solid 1px;
    height: 750px;
    background-image: url(bg6.jpg);
    background-repeat: no-repeat;
    background-size: 1500px 750px;
}
#nav{
    border: solid 1px whitesmoke;
    height: 50px;
    line-height: 50px;
}
#in{
    color: aliceblue;
    font-size: 25px;
    text-decoration: none;
    padding-right: 25px;
    font-weight: bold;
}
.out{
    border: solid 1px white;
    height: 580px;
}
#SHA{
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
    text-shadow: 3px 3px 5px red;
}
#menu{
    border: solid 1px;
height: 150px;
}
