.obox{
    border: solid 1px;
    height: 600px;
    background-image: url(bg1.jpg);
    background-repeat: no-repeat;
    background-size: 1650px 600px;
}
#SHA{
    color: white;
    font-size: 60px;
    text-align: center;
    padding-top: 210px;
}
#register,#login{
    width: 200px;
    height: 35px;
    background-color: gold;
}
#register{
    margin-left: 550px;
}
#register a,#login a{
    color: purple;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
}
#register:hover{
    background-color: aqua;
}
#login:hover{
    background-color: aqua;
}